<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flexible Catalog</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <div class="catalog-container">
    <h1>Наші улюбленці</h1>
    <ul class="item-list">
      {% for item in items %}
        <li class="item">
          <img src="{{ item.image }}" class="item-image">
          <div class="item-details">
            <p>Імя: {{ item.name }}</p>
            <p>Вік: {{ item.age }}</p>
            <p>Порода: {{ item.breed }}</p>
            <p>Походження: {{ item.origin }}</p>
            <a href="/profile/{{ item.id }}" class="view-profile-btn">Переглянути</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <script src="../static/js/scripts.js"></script>
</body>
</html>
